h1 {
    font-size: 100px;
  color: blue;
}
body {
    background-color:black;
}
ol{
    font-family:cursive;
}
li {
    font-family: fantasy;
    font-size:70px;
}
p {
    font-size:70px;
    color: blue;
    font-family: cursive;
}